/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}



body {
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	margin: 0 auto;
	border-style: solid;
	border-width: 3px;
	border-color: #931420;
	background-color: #fffded;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	border-bottom: #931420;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}


header h2 {
	font-size: 170%;
	color: #800000;

}
header h3 {
	font-size: 130%;
	font-style: italic;


}
.shadow {
	text-shadow:2px 2px 2px #800000;
}
main {
	clear: left;


}
/* the styles for the section */
section {
	width: 525px;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
section h1 {
	color: #800000;
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0;

section h2 {
	font-size: 130%;
	color: black;
	padding-top: .5em;
	padding-bottom: .25em;
}
section p{
	padding-bottom: .35em;

}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}
article{
	padding: .5em 0;
	color: #800000;
	border-top-width: 2px;
	border-bottom-width: 2px;
}
article h2{
	padding-top: 0;
}
article h3{
	font-size: 105%;
	padding-bottom: .25em;
}
article img{
	float: right;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border: 1px solid black;
}


aside{
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}


/* the styles for the footer */
footer {
	background-color: #931420;
	clear: both;
}
footer p{
	text-align: center;
	color: white;
	padding: 1em 0;
}
